In [65]:
# n *
n=6
for i in range(n):
      print('*',end=" ")

* * * * * *

In [66]:
# n * in square without j loop
n=6
for i in range(n):
      print('* ' * n)

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [67]:
# print constant symbol
n=6
for i in range(n):
    print((str(n)+ " ")*n)

6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6
6 6 6 6 6 6

In [68]:
# using j loop
n=6
for i in range(n):
    for j in range(n-1):
        print('*',end=' ')
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [70]:
n=6
for i in range(n):
    print((str(i+1)+' ')*n)


n=6
val=1
for i in range(n):
    for j in range(n):
        print(val ,end=" ")
    val+=1
    print()

1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6
1 1 1 1 1 1
2 2 2 2 2 2
3 3 3 3 3 3
4 4 4 4 4 4
5 5 5 5 5 5
6 6 6 6 6 6

In [72]:
n=6
for i in range(n):
    print(('A'+' ')*n)


print()
n=6
val=ord('A')
for i in range(n):
    for j in range(n):
        print(chr(val) ,end=" ")
    print()

A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A

A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A
A A A A A A

In [73]:
n=4
for i in range(n):
    val=1
    for j in range(n):
        if i>=j:
            print(val,end=" ")
            val+=1
        else:
            print(" ",end=' ')
    val+=1
    print()


print()
n=4
for i in range(n):
    val=1
    for j in range(n):
        if i+j>=n-1:
            print(val,end=" ")
            val+=1
        else:
            print(" ",end=' ')
    val+=1
    print()


print()
n=4
for i in range(n):
    val=1
    for j in range(n):
        if i+j<=n-1:
            print(val,end=" ")
            val+=1
        else:
            print(" ",end=' ')
    val+=1
    print()

print()
n=4
for i in range(n):
    val=1
    for j in range(n):
        if i<=j:
            print(val,end=" ")
            val+=1
        else:
            print(" ",end=' ')
    val+=1
    print()

1
1 2
1 2 3
1 2 3 4

      1
    1 2
  1 2 3
1 2 3 4

1 2 3 4
1 2 3
1 2
1

1 2 3 4
  1 2 3
    1 2
      1

In [27]:
n=4
for i in range(n):
    val=4
    for j in range(n):
        if i>=j:
            print(val,end=" ")
            val-=1
        else:
            print(" ",end=' ')
    val-=1
    print()


print()
n=4
for i in range(n):
    val=4
    for j in range(n):
        if i+j>=n-1:
            print(val,end=" ")
            val-=1
        else:
            print(" ",end=' ')
    val-=1
    print()

print()
n=4
for i in range(n):
    val=4
    for j in range(n):
        if i<=j:
            print(val,end=" ")
            val-=1
        else:
            print(" ",end=' ')
    val-=1
    print()


print()
n=4
for i in range(n):
    val=4
    for j in range(n):
        if i+j<=n-1:
            print(val,end=" ")
            val-=1
        else:
            print(" ",end=' ')
    val-=1
    print()

4
4 3
4 3 2
4 3 2 1

      4
    4 3
  4 3 2
4 3 2 1

4 3 2 1
  4 3 2
    4 3
      4

4 3 2 1
4 3 2
4 3
4

In [74]:
n=4
for i in range(n):
    val=ord('A')
    for j in range(n):
        if i>=j:
            print(chr(val),end=" ")
            val+=1
        else:
            print(" ",end=' ')
    val+=1
    print()

A
A B
A B C
A B C D

In [75]:
n=4
val=ord('A')
for i in range(n):
    for j in range(n):
        if i==j:
            print(chr(val),end=" ")
            
        else:
            print(" ",end=' ')
    val+=1
    print()

print()
n=4
val=ord('A')
for i in range(n):
    for j in range(n):
        if i+j==n-1:
            print(chr(val),end=" ")
            val+=1
        else:
            print(" ",end=' ')

    print()

A
  B
    C
      D

      A
    B
  C
D

In [78]:
n=6
val=1
for i in range(n):
    for j in range(i+1):
   
            if (i%2==0 and j%2==0) or (i%2!=0 and j%2!=0): 
                print(val,end=" ")
                val+=1
            
            else:
                print("#",end=" ")

    print()

1
# 2
3 # 4
# 5 # 6
7 # 8 # 9
# 10 # 11 # 12

In [80]:
n=6
val=ord('A')
val2=ord('B')
for i in range(n):
    for j in range(n):
        if i==j :
            print(chr(val),end=' ')
        elif (i+j)%2==0:
             print(chr(val),end=' ')
        else:
            print(chr(val2),end=' ')   
    print()

A B A B A B
B A B A B A
A B A B A B
B A B A B A
A B A B A B
B A B A B A

In [81]:
n=6
val=1
for i in range(n):
    for j in range(n):
        if i>=j:
            print(val,end=' ')
            val+=1
        else:
            print(' ',end=' ')
    print()     

print()
n=6
val=ord('A')
for i in range(n):
    for j in range(n):
        if i>=j:
            print(chr(val),end=' ')
            val+=1
        else:
            print(' ',end=' ')
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15
16 17 18 19 20 21

n: 6

A
B C
D E F
G H I J
K L M N O
P Q R S T U

In [82]:
n=6
val=1
for i in range(1,n+1):
    for j in range(i):
        if i>=j:
            if i%2==0:
                print(val,end=' ')        
            else:
                print('*',end=' ')          
    if i%2==0:
        val+=1
    print()

*
1 1
* * *
2 2 2 2
* * * * *
3 3 3 3 3 3

In [83]:
n=5

for i in range(n):
    val=1
    for j in range(n):
        if i>=j:
            print(val,end=' ')
            val+=1
        else:
            print(' ',end=' ')
    print()


print()
val=1
for i in range(n):
    for j in range(n):
        if i>=j:
            print(val,end=' ')
            
        else:
            print(' ',end=' ')
    val+=1
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [84]:
val=1
val2=1
for i in range(n):    
    for j in range(n):
        if i==j or i+j==n-1:
            print(val,end=' ')

        else:
            print(' ',end=' ')
    val+=1
    val2+=1
    print()

1       1
  2   2
    3
  4   4
5       5

In [85]:
n=6
mid = n-1
for i in range(n):
    for j in range(2*n-1):
        if j >= mid-i and j <= mid+i:    # Using midpoint
                print("*", end="")
        else:
                print(" ", end="")
    print()


print()
mid = n-1           # mid = 4
for i in range(n-1, -1, -1):  # i goes from 4,3,2,1,0
    for j in range(2*n-1):     # j goes from 0 to 8
         if j >= mid-i and j <= mid+i:
                print("*", end="")
         else:
                print(" ", end="")
    print()

     *
    ***
   *****
  *******
 *********
***********

***********
 *********
  *******
   *****
    ***
     *

In [86]:
n=6
mid = n-1
val=1
for i in range(n):
    for j in range(2*n-1):
        if j >= mid-i and j <= mid+i:    # Using midpoint
            print(val,end=' ')    
            val+=1
            if val>5:
                val=1
        else:
                print(" ", end=" ")
    print()

mid = n-1           # mid = 4
val=9
for i in range(n-1, -1, -1):  # i goes from 4,3,2,1,0
    for j in range(2*n-1):     # j goes from 0 to 8
         if j > mid-i and j < mid+i:
            print(val, end=" ")
            val-=1
            if val<1:
                val=5
         else:
                print(" ", end=" ")
    print()

          1
        2 3 4
      5 1 2 3 4
    5 1 2 3 4 5 1
  2 3 4 5 1 2 3 4 5
1 2 3 4 5 1 2 3 4 5 1
  9 8 7 6 5 4 3 2 1
    5 4 3 2 1 5 4
      3 2 1 5 4
        3 2 1
          5

In [87]:
n=6
for i in range(n):
    val=1
    val2=ord('A')
    for j in range(n):
        if i>=j:
            if i%2==0:
                print(val,end=' ')
                val+=1
            else:
                print(chr(val2),end=' ')
                val2+=1
    print()

1
A B
1 2 3
A B C D
1 2 3 4 5
A B C D E F

In [88]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()
    
print()
n=5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1 or (i+j==n-1 and i==j):
            print("*",end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*       *
*       *
*       *
* * * * *

* * * * *
*       *
*   *   *
*       *
* * * * *

In [89]:
#### n=int(input("n:  "))
for i in range(2*n-1):
    for j in range(n):
        if i==j or j==0 or i+j==2*n-2:
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

*
* *
*   *
*     *
*       *
*     *
*   *
* *
*

In [91]:
n=6

for i in range(n):
    val=ord("Z")
    for j in range(n):
        if i+j>=n-1:
            print(chr(val-i),end=' ')
            val+=1          
        else:
            print(' ',end=' ')
    print()

          Z
        Y Z
      X Y Z
    W X Y Z
  V W X Y Z
U V W X Y Z

In [92]:
n=5
mid=n-1
for i in range(n):
    for j in range(2*n-1):
        if j>=mid-i and j<=mid+i:
            print("*",end=' ')
        else:
            print(" ",end=' ')
    print()

print()
mid=n-1
val=1
for i in range(n):
    for j in range(2*n-1):
        if j>=mid-i and j<=mid+i:
            print(val,end=' ')
        else:
            print(" ",end=' ')
    val+=1
    print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

        1
      2 2 2
    3 3 3 3 3
  4 4 4 4 4 4 4
5 5 5 5 5 5 5 5 5

In [93]:
n=5

for i in range(n):
    val=1
    for j in range(n):
        if i==j or j==0 or i==n-1:
            print(val,end=' ')
            val+=1
        else:
            print(' ',end=' ')
            val+=1
    print()

1
1 2
1   3
1     4
1 2 3 4 5

In [102]:
n = 4

# Upper part of the pyramid
for i in range(n):
    for j in range(i + 1):
        print("*", end=" ")
    print()

# Lower part of the pyramid
for i in range(n - 1, 0, -1):
    for j in range(i):
        print("*", end=" ")
    print()


print()
n = 4

# Upper part of the pyramid
for i in range(n):
    for j in range(n - i - 1):
        print(" ", end=" ")  # Print  3 at 1st row then 2  then 1 spaces
    for j in range(i + 1):
        print("*", end=" ")  # Print stars
    print()

# Lower part of the pyramid
for i in range(n - 1, 0, -1):
    for j in range(n - i):
        print(" ", end=" ")  # Print spaces
    for j in range(i):
        print("*", end=" ")  # Print stars
    print()

#       *      (3 spaces, 1 star)
#     * *      (2 spaces, 2 stars)
#   * * *      (1 space,  3 stars)
# * * * *      (0 spaces, 4 stars)
#   * * *      (1 space,  3 stars)
#     * *      (2 spaces, 2 stars)
#       *      (3 spaces, 1 star)

*
* *
* * *
* * * *
* * *
* *
*

      *
    * *
  * * *
* * * *
  * * *
    * *
      *

In [108]:
n=6
for i in range(n):
    val=1
    for j in range(n):
        if i>=j:
            print(val,end=' ')
            val+=2
        else:
            print(' ',end=' ')
    print()
            
print()
n=6

for i in range(n):
    val=2
    for j in range(n):
        if i>=j:
            print(val,end=' ')
            val+=2
        else:
            print(' ',end=' ')
    print()

1
1 3
1 3 5
1 3 5 7
1 3 5 7 9
1 3 5 7 9 11

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10
2 4 6 8 10 12

In [122]:
for i in range(n):
    val=1
    for j in range(n):
        if i==j or j==0 or i==n-1:
            print('&',end=' ')
        elif j<i:
            print('*',end=' ')
        else:
            print(' ',end='')
    print()

&
& &
& * &
& * * &
& * * * &
& & & & & &

In [125]:
n=5
for i in range(n):
    for j in range(n):
        if i==0 or i==n-1 or j==0 or j==n-1:
            print("*",end=' ')
        elif j==n-3:
            print('$',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * * *
*   $   *
*   $   *
*   $   *
* * * * *